h1 {
    font-family: 'Arvo', sans-serif;
    color: #E35865;
}

header.container-fluid {
    margin: 0;
    background-color: black;
    box-shadow: 0 0px 3px 3px rgba(0, 0, 0, .4);
    height: 100vh;
    min-height: 150px;
}

.container {
    max-width: 720px;
    margin: auto;
    padding: 0 50px;
}

input {
    padding: 0;
    border-radius: 0;
    border: none;
    font-size: 20px;
    color: #bbb;
    background: none;
    letter-spacing: 1px;
    word-spacing: 10px;
    font-family: 'Arvo', sans-serif;
    padding: 0;
    line-height: 25px;
}

#searchBox {
    padding-top: 7em;
}

.form {
    padding: 10px 0;
    padding-right: 15px;
    border: 3px solid #E35865;
}

.form.col-xs-12 {
    padding-left: 0;
}

#mainBody {
    font-family: 'Montserrat', sans-serif;
}

label {
    float: left;
    text-align: left;
    width: 8em;
    margin-left: 2%;
    color: #E35865;
}

.bi-search {
    color: #E35865;
    float: right;
}

h4, nav {
    color: #E35865;
    display: inline-block;
}

h4 {
    margin-right: 18em;
}

#brand {
    margin-left: 1em;
}

@media only screen and (max-width: 670px) {
    #brand {
        margin-left: 6.5em;
    }
}